HOST=http://localhost
PORT=:8080
APP_URL=https://localhost:8443
OIDC_CLIENT_ID=tunkunia
OIDC_SECRET=replace-with-a-development-secret
ENV=dev
GOOSE_DRIVER=sqlite3
GOOSE_DBSTRING=./database/tunkunia.db
GOOSE_MIGRATION_DIR=./database/migrations
JWT_SECRET=super-secret-jwt-key-change-in-production
FIRST_ADMIN_EMAIL=admin@example.com
