APP_URL=https://localhost:8443
FIRST_ADMIN_EMAIL=

OIDC_URL=https://proveedor.ciudadaniadigital.bo/auth
OIDC_CLIENT_ID=tunkunia
OIDC_SECRET=replace-with-an-oidc-secret-at-ci-di

GOOSE_DRIVER=sqlite3
GOOSE_DBSTRING=./database/tunkunia.db
GOOSE_MIGRATION_DIR=./database/migrations
