HOST=http://localhost
PORT=:8080
ENV=dev
GOOSE_DRIVER=sqlite3
GOOSE_DBSTRING=./database/tunkunia.db
GOOSE_MIGRATION_DIR=./database/migrations
JWT_KEY=super-secret-jwt-key-change-in-production
FIRST_ADMIN_EMAIL=admin@example.com